<%= form_for (@search) do |f| %>
  <div class="field">
    <%= f.label :generic %><br />
    <%= f.text_field :generic%>
  </div>

  <div class="field">
    <%= f.label :walmart_price %><br />
    <%= f.text_field :walmart_price %>
  </div>

  <div class="field">
    <%= f.label :medicine %><br />
    <%= f.text_field :medicine, data: {autocomplete_source: medicines_path} %><br />

  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>