<!-- Name: Gabby Johnson
# Course: CSC 415
# Semester: Fall 2017
# Instructor: Dr. Pulimood 
# Project name: PresPrice
# Description: The app is intended to provide the cheapest price of a medicine to users
# Filename: index.html.erb
# Description: To provide search results for searched medicine
# Last modified on: 11/10/17 -->

<% if @searches.blank? %>
  <h4> There are no medicines that match your search </h4>
<% else %>
  <table class="table table-striped">
    <tr>
      <th><%= sort_link "title" %></th>
      <th><%= sort_link "provider" %></th>
      <th><%= sort_link "amount" %></th>
      <th>Description</th>
      <th><%= sort_link "deadline" %></th>
      <th>URL</th>
    </tr>
    <% @searches.each do |search| %>
      <tr>
        <td><%= search.medicine %></td>
      </tr>
    <% end %>
  </table> 
<% end %>