<!-- Name: Gabby Johnson
# Course: CSC 415
# Semester: Fall 2017
# Instructor: Dr. Pulimood 
# Project name: PresPrice
# Description: The app is intended to provide the cheapest price of a medicine to users
# Filename: index.html.erb
# Description: To allow user to search for medicine through a form
# Last modified on: 11/30/17 -->

<%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' %>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

<div class = "header">
</div>

<div class="main">
  <div class="login">
    <div class="container">

      <div id = "home">
  <h1>PresPrice</h1>
    <div class="form">
           <!--Gives form path that form will be passing to-->
           <%= form_tag(search_path, :method => "get", id: "search-form") do %>
           <!--Search parameter-->
            <%= text_field_tag :search, params[:search], placeholder: "Search medicines" %><br>
            <%= submit_tag "Search", class: "buttoncolor", :name => nil %>
           <% end %>
           <li><a href = "searchbar2">Search Two Medications</a></li>
        </div>
  
    
    </div>
  </div>
</div>
     
     <!--Multiple Medicines-->
  

<footer class="footer">
      <div class="container">
        <p>Copyright 2017</p>
      </div>
</footer>


