<h4> Medicine Prices </h4>

  <table class="table table-striped">
 
  <%medicine = Medicine.find(2)%>
      <tr>
        <td><%= medicine.name %></td>
	  <td><%= medicine.walmart_price  %></td>
	  <td><%= medicine.cvs_price  %></td>
	  <td><%= medicine.walgreens_price  %></td>
	  <td><%= medicine.riteaid_price %></td>
      <td><%= medicine.generic %></td>
      </tr>

  </table> 
