<!--# Name: Gabby Johnson
# Course: CSC 415
# Semester: Fall 2017
# Instructor: Dr. Pulimood 
# Project name: PresPrice
# Description: The app is intended to provide the cheapest price of a medicine to users
# Filename: application.html.erb
# Description: Displays navigation links at the top of pages
# Last modified on: 11/30/17-->
<!DOCTYPE html>

<html>
  <head>
    <link href="http://s3.amazonaws.com/codecademy-content/projects/bootstrap.min.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,300' rel='stylesheet' type='text/css'>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>

    <div class="header">
      <div class="container">
     

        <div class="nav pull-right">
          <% if current_user %> 
              <ul> 
                  <a href="searchbar">Search</a>
                <li><%= current_user.email %></li> 
                <li><%= link_to "Log out", logout_path, method: "delete" %></li> 
              </ul> 
          <% else %> 
            <ul> 
              <a href = "login">Log In</a>
              <a href = "signup">Sign Up</a>
            </ul> 
          <% end %>
          
        </div>
      </div>
    </div>
  

  <!--maybe change this -->
    
      <%= yield %>
    </div>

  </body>
</html>
